.card {
    margin: auto;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    transition: transform .3s;
    text-align: center;
}

.card:hover {
    transform: translateX(-5px);
    box-shadow: rgba(0, 0, 0, 0.2);
}

.card__title {
    color: #333333;
}

.card__text {
    color: #555555;
}

.card__text-red {
    color: red;
}

.card__button {
    font-size: 35px;
    height: 55px;
    width: 55px;
    background-color: #4CAF50;
}

.card__button:not(.card__button_disabled):hover {
    background-color: #45a049;
}

.card__button_disabled {
    cursor: not-allowed;
    background-color: #9e9e9e;
}